<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Eclipta</title>
  <link rel="stylesheet" href="../Assets/CSS/Landingpage.css" />
</head>
<body>
  <header>
    <div class="logo">
    <img src="../Assets/Pictures/logo.png" alt="Logo" width="80px" Height="80px">
    <img src="../Assets/Pictures/lname.png" alt="Eclipta"  width="200px" Height="100px">
    </div>
    <nav>
      <a href="#">Discover</a>
      <a href="../VIEW/Post_Catagories.html">Categories</a>
      <a href="../VIEW/Post_Catagories.html">Write</a>

      <div class="search-container">
        <input type="text" placeholder="Search" />
        <button class="search-btn">🔍</button>
      </div>
      <a href="../VIEW/login.html" class="login">Login</a>
      <button class="signup-btn">
        <a href="../VIEW/Signup.html">SignUp</a>
        </button>
    </nav>
  </header>
 
  <main>
    <div class="content">
      <h1><span class="highlight-dark">Your Words.</span> <span class="highlight-light">Your Moment</span></h1>
      <p>A beautiful space to express, share, and shine with your unique voice. Join our constellation of creators.</p>
      <button class="start-btn"><a href="../VIEW/login.html">Start Writing</a></button>
    </div>
    <img src="../Assets/Pictures/plant.png" alt="Leaves" class="leaves" width="1500px" Height="1500px">

  </main>
 
  <footer>
    <a href="#">About</a>
    <a href="../VIEW/ContactUsform.html">Help Center</a>
    <a href="../VIEW/Newsletter_Signup.html">Subscription</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Cookie Policy</a>
    <a href="#">Settings</a>
  </footer>
 
  <script src="../Assets/JS/LandingPage.js"></script>
</body>
</html>